<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_receita.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_receita_path(@tipo_receita) %> |
<%= link_to 'Back', tipo_receita_path %>
