<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_receitum.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_receitum_path(@tipo_receitum) %> |
<%= link_to 'Back', tipo_receita_path %>
