<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_gasto.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_gasto_path(@tipo_gasto) %> |
<%= link_to 'Back', tipo_gastos_path %>
